<div class="color">
  <div class="row">
    <div class="col s12">
      <form [formGroup]="uploadForm" >
      <div class="row">
       
        <div class="col s12 center-align">
          <img *ngIf="!uploadedFile" class= "default_image" src="/assets/images/default_image.jpg" >
          <img *ngIf="uploadedFile" class= "default_image" src="{{url}}/archivo/1/{{uploadedFilename}}" >
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <input class="btn btn-warning orange pad"formControlName="file"
          (change)="onFileSelect($event)"
          name="image"
          class="form-control"
          type="file"
          id="fileImage" >
          &nbsp;<button class="btn pad" (click) = "UploadImage()">Cargar imagen</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <div class="row">
      <form [formGroup]="form" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input formControlName="name" id="name" type="text">
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s4">
            <input formControlName="last_name" id="last_name" type="text">
            <label for="last_name">Apellidos</label>
          </div>
          <div class="input-field col s4">
              <input formControlName="phone" id="phone" type="text">
              <label for="phone">Telefono</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
              <input formControlName="documento" name="documento" id="documento" type="text">
              <label for="documento">Documento</label>
          </div>
          <div class="input-field col s4">
            <input formControlName="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s4">
              <input formControlName="direccion" id="direccion" type="text">
              <label for="direccion">Dirección</label>
          </div>
        </div>
  
        <input formControlName="image" id="phone" type="hidden">
        
        <div class="row">
          <div class="input-field col s4">
              <input formControlName="fecha_nacimiento" id="fecha_nacimiento" type="date">
              <label for="fecha_nacimiento">Fecha Nacimiento</label>
          </div>
          <div class="input-field col s4">
              <input formControlName="vinculacion" id="vinculacion" type="text">
              <label for="vinculacion">Vinculación</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s2">
              <a (click)="SaveRecord()" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud_upload</i>Guardar</a>
          </div>
         <div class="input-field col s2">
              <a routerLink="/jurado/list-jurados" class="waves-effect waves-light btn-large"><i class="material-icons left">close</i>Cancelar</a>
         </div>
         
        </div>
      </form>
    </div>
</div>