<footer class="page-footer setColor ">
    <div class="container">
      <div>
        <div class="s12 copy1">
          <h5 class="white-text">Proyecto de programación 3</h5>
          <ul class="ordenar">
            <li>Julián Rivera Castaño</li>
            <li>Miguel Ángel Gómez Sánchez</li>
            <li>Juan David Díaz Castaño</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright container copy2">
      © 2021 Universidad de Caldas
      <img src="../../../../assets/images/Logo_de_la_Universidad_de_Caldas.svg.png">
    </div>
  </footer>