.tittle{
    color: black;
    font-size: 20pt;
    padding: 50px;
    background: rgba(255, 255, 255, 0.774);
    font-weight: bolder;
    text-align: center;
}

.align{
    display: flex;
    align-items: center;
    justify-content: center;
}