<div class="row">
  <form [formGroup]="form" class="col s12">
    <div class="row">
      <div class="input-field col s4">
        <input formControlName="name" id="name" type="text">
        <label class ="active" for="name">Nombres</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="last_name" id="last_name" type="text">
        <label class ="active" for="last_name">Apellidos</label>
      </div>
      <div class="input-field col s4">
          <input formControlName="documento" id="documento" type="text">
          <label class ="active" for="documento">Documento</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
          <input formControlName="fecha" name="fecha" id="fecha" type="date">
          <label class ="active" for="fecha">Fecha de nacimiento</label>
      </div>
      <div class="input-field col s4">
        <input formControlName="email" id="email" type="email" class="validate">
        <label class ="active" for="email">Email</label>
      </div>
      <div class="input-field col s4">
          <input formControlName="direccion" id="direccion" type="text">
          <label class ="active" for="direccion">Dirección</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input formControlName="phone" id="phone" type="text">
        <label class ="active" for="phone">Celular</label>
    </div>
      <div class="input-field col s4">
          <input formControlName="estado" name="estado" id="estado" type="text">
          <label class ="active" for="estado">Estado </label>
      </div>
      <div class="input-field col s4">
        <input formControlName="rol" id="rol" type="text">
        <label class ="active" for="rol">Rol</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2">
          <a (click)="SaveRecord()" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud_upload</i>Guardar</a>
      </div>
     <div class="input-field col s2">
          <a routerLink="/security/list-users" class="waves-effect waves-light btn-large"><i class="material-icons left">close</i>Cancelar</a>
     </div>
     
    </div>
  </form>
</div>