<ul id="dropdown1" class="dropdown-content">
  <li *ngIf="!session"><a routerLink="security/login">Iniciar Sesión</a></li>
  <li *ngIf="session"><a routerLink="security/logout">Cerrar Sesión</a></li>
  <li *ngIf="session"><a routerLink="security/change-password">Cambiar clave</a></li>
  <li *ngIf="!session"><a routerLink="security/create-user">Crear cuenta</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a routerLink="business/list-comites">Comités</a></li>
  <li><a routerLink="business/list-departamentos">Departamentos</a></li>
  <li><a routerLink="business/list-estadosSolicitud">Estado de la solicitud</a></li>
  <li><a routerLink="business/list-facultades">Facultades</a></li>
  <li><a routerLink="business/list-lineasInvestigacion">Líneas de investigación</a></li>
  <li><a routerLink="business/list-modalidades">Modalidades</a></li>
  <li><a routerLink="business/list-recordatorios">Recordatorios</a></li>
  <li><a routerLink="business/list-resultadosEvaluaciones">Resultados</a></li>
  <li><a routerLink="business/list-tiposSolicitud">Tipos de solicitud</a></li>
  <li><a routerLink="business/list-tiposVinculacion">Tipos de vinculación</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
  <li><a routerLink="#!">1</a></li>
  <li><a routerLink="#!">2</a></li>
  <li><a routerLink="#!">3</a></li>
  <li><a routerLink="#!">4</a></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a routerLink="home" class="brand-logo">Inicio</a>
    <a routerLink="home" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="session"><a routerLink="jurado/list-jurados">Jurados</a></li>
      <li *ngIf="session"><a routerLink="proponente/list-proponentes">Proponentes</a></li>
      <li *ngIf="session"><a routerLink="solicitud/list-solicitudes">Solicitudes</a></li>
      <li *ngIf="session"><a routerLink="invitacionEvaluar/list-invitacionesEvaluar">Invitaciones para evaluar</a></li>
      <li *ngIf="session"><a class="dropdown-trigger3" data-target="dropdown3">Reportes<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="session"><a class="dropdown-trigger2" data-target="dropdown2">Negocios<i
            class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger1" data-target="dropdown1">Cuenta<i
            class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!-- <ul class="sidenav" id="mobile-demo">
  <li *ngIf="session"><a routerLink="jurado/list-jurados">Jurados</a></li>
  <li *ngIf="session"><a routerLink="proponente/list-proponentes">Proponentes</a></li>
  <li *ngIf="session"><a routerLink="solicitud/list-solicitudes">Solicitudes</a></li>
  <li *ngIf="session"><a routerLink="invitacionEvaluar/list-invitacionesEvaluar">Invitaciones para evaluar</a></li>
  <li *ngIf="session"><a class="dropdown-trigger3" data-target="dropdown3">Reportes<i
        class="material-icons right">arrow_drop_down</i></a></li>
  <li *ngIf="session"><a class="dropdown-trigger2" data-target="dropdown2">Negocios<i
        class="material-icons right">arrow_drop_down</i></a></li>
  <li><a class="dropdown-trigger1" data-target="dropdown1">Cuenta<i class="material-icons right">arrow_drop_down</i></a>
  </li>
</ul> -->