<div class="color">
    <table class="table reponsive-table">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Documento</th>
            <th>Correo</th>
            <th>Direccion</th>
            <th>Fecha Nacimiento</th>
            <th>Vinculacion</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of juradoList | paginate: {itemsPerPage: pageSize, currentPage: p, totalItems: total}">
                <td>
                    {{r.IdJurado}}
                </td>
                <td>
                    {{r.NombreJurado}}
                </td>
                <td>
                    {{r.ApellidosJurado}}
                </td>
                <td>
                    {{r.TelefonoJurado}}
                </td>
                <td>
                    {{r.DocumentoJurado}}
                </td>
                <td>
                    {{r.CorreoJurado}}
                </td>
                <td>
                    {{r.DireccionJurado}}
                </td>
                <td>
                    {{r.fechaNacimiento}}
                </td>
                <td>
                    {{r.VinculacionJurado}}
                </td>
                <td>
                    <div class="card">
                        <div class="card-image">
                            <img class="cardImage" src="{{url}}/archivo/1/{{r.image}}">
                        </div>
                    </div>
                </td>
                <td class="row">
                    <div class="input-field col s12">
                        <a routerLink="/jurado/edit-jurado/{{r.IdJurado}}" class="waves-effect waves-light btn-small green"><i class="material-icons right">edit</i>editar</a>
                    </div>
                    <div class="input-field col s12">
                        <a routerLink="/jurado/remove-jurado/{{r.IdJurado}}" class="waves-effect waves-light btn-small red"><i class="material-icons right ">delete</i>borrar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <pagination-controls (pageChange) = "p= $event" previousLabel = "Anterior" nextLabel = "Siguiente"></pagination-controls>
                </td>
            </tr>
        </tbody>
             
    </table>
    
    <div class="row">
        <div class="input-field col s2">
            <a routerLink="/jurado/create-jurado" class="waves-effect waves-light btn-small blue"><i class="material-icons right">save</i>Agregar</a>
        </div>
    </div> 
    
</div>