<div class="color">
    <table class="table reponsive-table">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
        </thead>
        <tbody>
            <tr *ngFor="let r of tiposolicitudlist | paginate: {itemsPerPage: pageSize, currentPage: p, totalItems: total}">
                <td>
                    {{r.IdTipoSolicitud}}
                </td>
                <td>
                    {{r.NombreTipoSolicitud}}
                </td>
                <td>
                    {{r.DescripcionTipoSolicitud}}
                </td>
                <td class="row">
                    <div class="input-field col s12">
                        <a routerLink="/business/edit-tipoSolicitude/{{r.IdTipoSolicitud}}" class="waves-effect waves-light btn-small green"><i class="material-icons right">edit</i>editar</a>
                    </div>
                    <div class="input-field col s12">
                        <a routerLink="/business/remove-tipoSolicitude/{{r.IdTipoSolicitud}}" class="waves-effect waves-light btn-small red"><i class="material-icons right ">delete</i>borrar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <pagination-controls (pageChange) = "p= $event" previousLabel = "Anterior" nextLabel = "Siguiente"></pagination-controls>
                </td>
            </tr>
        </tbody>       
    </table>
    
    <div class="row">
        <div class="input-field col s4">
            <a routerLink="/business/create-tipoSolicitud" class="waves-effect waves-light btn-small blue"><i class="material-icons right">save</i>Agregar</a>
        </div>
    </div> 
</div>