<div class="row color">
    <form [formGroup]="form" class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input formControlName="fecha_solicitud" id="fecha_solicitud" type="date">
          <label for="fecha_solicitud">Fecha solicitud</label>
        </div>
        <div class="input-field col s4">
            <input formControlName="nombre_trabajo" id="nombre_trabajo" type="text">
            <label for="nombre_trabajo">Nombre del trabajo</label>
        </div>
        <div class="input-field col s4">
          <input formControlName="archivo_solicitud" id="archivo_solicitud" type="text">
          <label for="archivo_solicitud">Archivo de la solicitud</label>
        </div>
        <div class="input-field col s4">
            <input formControlName="descripcion_general" id="descripcion_general" type="text">
            <label for="descripcion_general">Descripción general</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <select id="selModalidades" formControlName="id_modalidad">
            <option *ngFor="let c of modalidadList" value="{{c.IdModalidad}}">{{c.NombreModalidad}}</option>
          </select>
            <label>Modalidad</label>
        </div>
        <div class="input-field col s4">
          <select id="selEstadoSolicitudes" formControlName="id_estado">
            <option *ngFor="let c of estadoList" value="{{c.IdEstadoSolicitud}}">{{c.NombreEstadoSolicitud}}</option>
          </select>
            <label>Estado Solicitud</label>
        </div>
        <div class="input-field col s4">
          <select id="selTipoSolicitud" formControlName="id_tipo_solicitud">
            <option *ngFor="let c of tipoSolicitudList" value="{{c.IdTipoSolicitud}}">{{c.NombreTipoSolicitud}}</option>
          </select>
            <label>Tipo Solicitud</label>
        </div>
        <div class="input-field col s4">
          <select id="selLineaInvestigacion" formControlName="id_linea_investigacion">
            <option *ngFor="let c of lineaInvestigacionList" value="{{c.IdLineaInvestigacion}}">{{c.NombreLineaInvestigacion}}</option>
          </select>
            <label>Linea Investigacion</label>
        </div>
        <div class="input-field col s4">
          <select id="selInvitacionEvaluar" formControlName="id_invitacion_evaluar">
            <option *ngFor="let c of invitacionEvaluarList" value="{{c.IdInvitacionEvaluar}}">{{c.ObservacionesInvitacionEvaluar}}</option>
          </select>
            <label>Invitacion Evaluar</label>
        </div>
        <div class="input-field col s4">
          <select id="selProponente" formControlName="id_proponente">
            <option *ngFor="let c of proponentesList" value="{{c.IdProponente}}">{{c.PrimerNombreProponente}}</option>
          </select>
            <label>Proponente</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
            <a (click)="SaveRecord()" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud_upload</i>Guardar</a>
        </div>
       <div class="input-field col s2">
            <a routerLink="/solicitud/list-solicitudes" class="waves-effect waves-light btn-large"><i class="material-icons left">close</i>Cancelar</a>
       </div>
       
      </div>
    </form>
  </div>